# Игнорировать все файлы в каталоге .idea (настройки PyCharm)
.idea/

# Игнорировать все .pyc файлы
*.pyc

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать все файлы с расширением .xml, .yml
*.xml
*.yml

# Игнорировать все __init__ файлы
*__init__.py

# Игнорировать все файлы в каталоге __pycache__
__pycache__/

# Игнорировать файлы и каталоги, связанные с виртуальным окружением Python
config.py

# Игнорировать Тудушник
ToDo.txt

# Игнорировать файлы и каталоги, связанные с виртуальным окружением Python
venv/
*.venv
.env

# Игнорировать файлы и каталоги, связанные с распределенными пакетами Python
dist/
build/
*.egg-info/

# Игнорировать файлы и каталоги, связанные с логами и базами данных
*.sqlite

# Игнорировать файлы и каталоги, связанные с системными настройками операционной системы
.DS_Store
Thumbs.db